*,
*:after,
*:before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 4.5rem;
    line-height: 6rem;
    font-weight: 700;
}
h2{
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: 700;
}

img{width: 100%;}

a{
    text-decoration: none;
    color: #c5c5c5;
}

/***** reusable classes*****/
.wrapper{
    margin: 0px auto;
    max-width: 1200px;
}
.container{
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}
/**************************/
.navigation{
    background-color: #1c1c2c;
}
.navigation ul{
    /* text-align: center; */
}
