*,
*:after,
*:before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 4.5rem;
    line-height: 6rem;
    font-weight: 700;
}
h2{
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: 600;
}
h3{
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 500;
}
img{width: 100%;}

a{
    text-decoration: none;
    color: #c5c5c5;
}
nav, ul, li, a{
    width: 100%;
     text-align: center;
    }

/***** reusable classes*****/
.wrapper{
    margin: 0px auto;
    max-width: 1200px;
}
.container{
    padding: 10px;
    gap: 10px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
/**************************/
.navigation{
    background-color: #1c1c2c;
}
nav ul{
    flex-direction: column;
}
header{
    background-color: #c5c5c5;
}
header h1{text-align: center;}
header > div{
    flex-direction: column;
}
footer{
    color: #c5c5c5;
    background-color: #1c1c2c;
    line-height: 3rem;
}

@media screen and (min-width: 760px){
    .navigation ul{flex-direction: row;}
    header > div {
        flex-direction: row;
    }
    header > div > div { 
        width: 50%;
    }
}
    
